@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.background-blue {
    background-color: #00148B;
}
.title-font {
    color: #F1BB31; font-size: 41.73px
}

.curved-background {
    background-color: #00148B;;

    height: 100%;
    clip-path: ellipse(100% 100% at 50% 0);
}

.header-link {
    display : flex;
    justify-content: center;
}
.w-150 {
    width: 150px;
}
@media (max-width: 600px)     {
    .title-font {
        color: #F1BB31;
        font-size: 26px
    }
}
.splide__slide {
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
  }



/* Custom styles for pagination dot */
.splide__pagination__page {
    position: absolute;
    width: 11.97px;
    height: 11.97px;
    background: #6600FF;
    color: #6600FF;
    border-radius: 50%;
}
/* Custom pagination dot */
.splide__pagination__page.is-active .splide__pagination__page__dot {
    position: absolute;
    width: 11.97px;
    height: 11.97px;
    left: 732.14px; /* Adjust left position as needed */
    top: 2405.45px; /* Adjust top position as needed */
    background: #6600FF;
    border-radius: 50%;
}


.scale.is-active {
 
  
    div {
        transition: transform 400ms;
    transform: scale(1.1);
    border-radius: 15px;
  }
}
